{% load static %}
<footer>
    <img src="{% static 'img/logo.png' %}">
    <ul>
        <li><a href="https://www.flaticon.es/icono-gratis/pizza_1404945?term=pizza&page=1&position=2&page=1&position=2&related_id=1404945&origin=search">Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/pizza_1404945?term=pizza&page=1&position=2&page=1&position=2&related_id=1404945&origin=search">Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/pizza_1404945?term=pizza&page=1&position=2&page=1&position=2&related_id=1404945&origin=search">Logotipo: Flaticon</a></li>
    </ul>
    <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Cartilla</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>
    <ul>
        <li><a href="https://www.flaticon.es/icono-gratis/pizza_1404945?term=pizza&page=1&position=2&page=1&position=2&related_id=1404945&origin=search">Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/pizza_1404945?term=pizza&page=1&position=2&page=1&position=2&related_id=1404945&origin=search">Logotipo: Flaticon</a></li>
        <li><a href="https://www.flaticon.es/icono-gratis/pizza_1404945?term=pizza&page=1&position=2&page=1&position=2&related_id=1404945&origin=search">Logotipo: Flaticon</a></li>
    </ul>
</footer>