{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Nuestro Menu:</h1>
    <div class="cartilla">
        <div class="elementos">
            <img src="https://www.hola.com/imagenes/cocina/recetas/20220208204252/pizza-pepperoni-mozzarella/1-48-890/pepperoni-pizza-abob-c.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores architecto voluptatibus laudantium, similique eveniet nulla corporis fuga excepturi a incidunt nobis sapiente facere inventore, numquam voluptates odio commodi earum!</p>
            <h5>Precio: $10</h5>
        </div>
        <div class="elementos">
            <img src="https://assets.unileversolutions.com/recipes-v2/210361.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores architecto voluptatibus laudantium, similique eveniet nulla corporis fuga excepturi a incidunt nobis sapiente facere inventore, numquam voluptates odio commodi earum!</p>
            <h5>Precio: $10</h5>
        </div>
        <div class="elementos">
            <img src="https://phantom-telva.unidadeditorial.es/b652cf43b462868a6f5a49bb4cc62f9f/resize/828/f/jpg/assets/multimedia/imagenes/2022/03/26/16482984634161.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores architecto voluptatibus laudantium, similique eveniet nulla corporis fuga excepturi a incidunt nobis sapiente facere inventore, numquam voluptates odio commodi earum!</p>
            <h5>Precio: $10</h5>
        </div>
        <div class="elementos">
            <img src="https://st.depositphotos.com/1003814/5052/i/950/depositphotos_50523105-stock-photo-pizza-with-tomatoes.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores architecto voluptatibus laudantium, similique eveniet nulla corporis fuga excepturi a incidunt nobis sapiente facere inventore, numquam voluptates odio commodi earum!</p>
            <h5>Precio: $10</h5>
        </div>
        <div class="elementos">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/1c/88/f9/30/half-and-half-pepperoni.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores architecto voluptatibus laudantium, similique eveniet nulla corporis fuga excepturi a incidunt nobis sapiente facere inventore, numquam voluptates odio commodi earum!</p>
            <h5>Precio: $10</h5>
        </div>
        <div class="elementos">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/15/c5/a4/14/pepperoni-lovers.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores architecto voluptatibus laudantium, similique eveniet nulla corporis fuga excepturi a incidunt nobis sapiente facere inventore, numquam voluptates odio commodi earum!</p>
            <h5>Precio: $10</h5>
        </div>
        <div class="elementos">
            <img src="https://okdiario.com/img/2019/09/09/curiosidades-de-la-pizza.jpg">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus maiores architecto voluptatibus laudantium, similique eveniet nulla corporis fuga excepturi a incidunt nobis sapiente facere inventore, numquam voluptates odio commodi earum!</p>
            <h5>Precio: $10</h5>
        </div>
    </div>
{% endblock %}